[submodule "DriverNGHook/Modules/fmt"]
	path = DriverNGHook/Modules/fmt
	url = https://github.com/fmtlib/fmt
[submodule "DriverNGHook/Modules/spdlog"]
	path = DriverNGHook/Modules/spdlog
	url = https://github.com/gabime/spdlog
[submodule "DriverNGHook/Modules/gtest"]
	path = DriverNGHook/Modules/gtest
	url = https://github.com/google/googletest
[submodule "DriverNGHook/Modules/sol2"]
	path = DriverNGHook/Modules/sol2
	url = https://github.com/ThePhD/sol2